@import '../../app/style/variables.scss';

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 0 15px;
}

.item {
    display: flex;
    align-items: center;
}

.upload {
   & input {
        display: none;
   }

   & label {
        border: 3px dashed $blue;
        padding: 5px 8px;
        border-radius: 15px;
        cursor: pointer;
        transition: .3s;

        &:hover {
            background: $blue;
            color: #fff
        }
   }
}

.drop_area {
    width: 100%;
    border: 5px dashed $blue;
    height: calc(100vh - 50px - 40px);
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}